/*======================================= Mobile Screen =======================================*

@media only screen and (max-width: 767px) {*/

@media screen and (max-width: 768px) {
  .main-content nav .nav-bar .sidebarOpen {
    display: block;
  }
  
  .main-content nav .nav-bar .menu {
    background-color: purple;
    width: 100%;
    height: 100%;
    padding: 20px;
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 100;
    transition: all 0.4s ease;
  }

  .main-content nav .nav-bar .logo a {
    font-size: 14px;
    color: white;
  }

  .main-content nav.active .menu{
    left: -0%;
  }

  .main-content nav.active .nav-bar .navLogo a {
    opacity: 0;
    transition: all 0.3s ease;
  }

  .main-content nav .nav-bar .menu .logo-toggle {
    background-color: #4070F4;
    width: 100%;
    padding: 10px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px 10px 0px 10px;
  }
	
  .main-content nav .nav-bar .menu .logo-toggle .logo {
	font-size: 40px;
    font-family: 'love-letters';
    letter-spacing: 2px;}
	
  .logo-toggle .siderbarClose{
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
  }

  .main-content nav .nav-bar .nav-links {
    padding-top: 30px;
    display: block;
    flex-direction: column;
  }

  .main-content nav .nav-bar .nav-links li a {
    display: block;
    margin-top: 20px;
  }


  





  /*======================================= Main =======================================*/
  main {
	height: 620px;
    padding: 0px;
	border: 2px solid black;
  }

  main .container {
    width: 100%;
    height: 100%;
    border: 0px solid blue;
  }

	main .container .content .heading {
    font-size: 15px;
    padding: 5px;
    border-bottom: 4px solid black;
  }

  main .container .content {
    border: 0px solid blue;
  }

  main .container .content .heading {
    z-index: -1;
  }



  /*======================================= Main Slide Box =======================================*/

  main .container .content .main-slide-box {
    margin: 0px;
  }

  main .container .content .main-slide-box .slide-box {
    width: auto;
    height: 580px;
    grid-template-columns: repeat(1, 1fr);
    overflow-y: scroll;
  }

  main .container .content .main-slide-box .slide-box .slide {
    border: ;
  }

  main .container .content .main-slide-box .slide-box .slide .box {
    padding: 0px;
  }
    
  main .container .content .main-slide-box .slide-box .slide .box .cover-image img {
		width: 300px;
    margin: 0 auto;
    display: block;
  }

  main .container .content .main-slide-box .slide-box .slide .box .aritst-name {
    margin-top: 10px;
  }




  /*======================================= Music Lyrics =======================================*/
  .content-box {
    background-image: url("https://masumbillah6778.github.io/images/a4.jpg");
    background-repeat: no-repeat;
    background-size: over;
    background-size: 100% 500px;
    display: flex;
    flex-direction: column;
    outline: none;
  }
  
  .content-box .content {
  width: 100%;
  max-width: 330px;
  heigh: calc(100% - 80px);
  height: 475px;
  margin: 5px auto;
  padding: 0px;
  border: 2px solid yellow;
}

  .content-box .content .lyrics {
    height: 400px;
  }
  
  .content-box .content .lyrics>div {
    color: teal;
    font-size: 20px;
    line-height: 50px;
  }
  
  .content-box .content .lyrics>div.highlighted {
    color: yellow;
    font-weight: bold;
    font-size: 20px;
  }






  /*======================================== 1st  ========================================*/
  main .container .content .main-slide-box {
    background-image: url('https://masumbillah6778.github.io/images/stone-bg2.jpg');
    background-size: cover;
    width: 350px;
    height: 290px;
  }
  
  main .container .content .main-slide-box .first-protected-file {
    width: 280px;
    height: 230px;
    padding: 0px;
    border: 2px solid red;
    border-radius: 25px;
  }

  main .container .content .main-slide-box .first-protected-file h1 {
    margin-bottom: 10px;
    font-size: 20px;
  }

  main .container .content .main-slide-box .first-protected-file .password-head {
    color: blue;
  }

  main .container .content .main-slide-box .first-protected-file .text-input {
    background-color: green;
    color: yellow;
    width: 93%;
    height: 40px;
  }

  main .container .content .main-slide-box .first-protected-file .error-text {
    background-color: pink;
    color: red;
    width: 93%;
  }
    
  main .container .content .main-slide-box .first-protected-file label {
    background: white;
    -webkit-background-clip: text;
    color: transparent;
    padding: 0 5px;
    top: -42px;
    left: 15px;
  }

  main .container .content .main-slide-box .first-protected-file input:focus ~ label,
  main .container .content .main-slide-box .first-protected-file input:valid ~ label {
    background: green;
    color: yellow;
    margin-left: 40px;
    font-size: 15px;
    top: 143px;
  }
    
  main .container .content .main-slide-box .first-protected-file .submit-btn {
    background-color: blue;
    color: yellow;
    width: 90px;
    padding: 5px;
    font-size: 20px;
  }




	
  /*======================================== Footer ========================================*/
  .footer {
    background-color: blue;
    width: 98%;
    height: 40px;
    border: 2px solid green;
  }

  .footer marquee {
    color: white;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: solaiman-lipi;
    cursor: pointer;
  }
}
