/*======================================= Mobile Screen =======================================*

@media only screen and (max-width: 767px) {*/

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    height: 100vh;
    border: 4px dotted red;
  }
  
  .main-conten {
    width: 100%;
    height: 99vh;
    border: 2px dotted green;
  }
	
  .main-content nav {
    z-index: 999;
  }

  .main-content nav .nav-bar .logo.navLogo a {
    color: yellow;
    font-size: 13px;
  }
  
  .main-content nav .nav-bar .sidebarOpen {
    display: block;
  }
  
  .main-content nav .nav-bar .menu {
    background-color: purple;
    width: 100%;
    height: 100%;
    padding: 20px;
    position: fixed;
    left: -100%;
    top: 0;
    transition: all 0.4s ease;
    z-index: 1000;
  }

  .main-content nav .nav-bar .menu .logo-toggle {
    background-color: #4070F4;
    width: 100%;
    padding: 10px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px 10px 0px 10px;
  }
	
  .main-content nav .nav-bar .menu .logo-toggle .logo {
    margin-top: -20px;
    font-size: 40px;
    font-family: 'love-letters';
    letter-spacing: 2px;
  }

  .main-content nav .nav-bar .menu .logo-toggle .logo a {
    font-size: 14px;
    color: white;
  }

  .main-content nav.active .menu {
    left: -0%;
  }

  .main-content nav.active .nav-bar .navLogo a {
    opacity: 0;
    transition: all 0.3s ease;
  }
	
  .logo-toggle .siderbarClose{
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
  }

  .main-content nav .nav-bar .nav-links {
    padding-top: 30px;
    display: block;
    flex-direction: column;
  }

  .main-content nav .nav-bar .nav-links li a {
    color: yellow;
    font-size: 20px;
    font-weight: bold;
    font-family: 'times';
    letter-spacing: 2px;
    display: block;
    margin-top: 20px;
  }

  .main-content nav .nav-bar .nav-links li a::before {
    content: '';
    background-color: yellow;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 93%;
    right: 0;
    top: 27px;
    transform: translateY(-100%);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s ease;
  }

  .main-content nav .nav-bar .nav-links li a i {
    padding-right: 20px;
  }

  .main-content nav .nav-bar .nav-links li.admin {
    background-color: black;
    height: 80px;
    margin-bottom: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }

	

  .main-content nav .nav-bar .nav-links li.admin:after {
    content: '';
    display: block;  
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 100%;
    width: 0;
    height: 0;
    border-bottom: 10px solid black;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }

  .main-content nav .nav-bar .nav-links li.admin a {
    background: linear-gradient(to left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
    background-size: 500px 100%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'sonsieone';
    animation: move 1s linear infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }

  @keyframes move {
      0%   { background-position: 0 0; }
      100% { background-position: -500px 0; }
  }

  .main-content nav .nav-bar .nav-links li.admin a::before {
    background-color: transparent;
  }

  


    
  





  /*======================================= Main =======================================*/
  .main-content main {
    background-image: url(https://masumbillah6778.github.io/images/stone-bg3.jpg);
  }
	
  .main-content main {
	height: 642px;
    padding: 0px;
	border-width: 2px;
    border-style: solid;
    border-left-color: yellow;
    border-right-color: yellow;
    border-top-color: black;
    border-bottom-color: black;
  }

  .main-content main .container {
    width: 100%;
    height: 100%;
    border: 0px solid gold;
  }

  .main-content main .container .content {
    border: none;
  }

  .main-content main .container .content .heading {
    font-size: 14px;
    padding: 5px;
    border-bottom: 4px solid black;
  }



  /*======================================= Main Slide Box =======================================*/
	  
  .main-content main .container .content .main-slide-box {
	  height: 82.1vh;
    margin: 0px;
    border: none;
  }

  .main-content main .container .content .main-slide-box .slide-box {
    width: auto;
    height: 83.3vh;
    grid-template-columns: repeat(1, 1fr);
    overflow-y: scroll;
    border: 4px solid;
    border-image: linear-gradient(to right, blue 0%,yellow 20%,red 20%,
                                                      yellow 20%,red 40%,
                                                      green 60%,green 60%,
                                                      yellow 80%,blue 80%,
                                                      yellow 80%,blue 100%) 1 stretch repeat;
  }

  .main-content main .container .content .main-slide-box .slide-box .slide {
    border: ;
  }

  .main-content main .container .content .main-slide-box .slide-box .slide .box {
    display: flex;
  }
    
  .main-content main .container .content .main-slide-box .slide-box .slide .box .cover-image img {
		width: 100px;
    margin: 0 auto;
    display: block;backdrop-filter: blur(10px);
    border-radius: 10px;
  }

  .main-content main .container .content .main-slide-box .slide-box .slide .box .aritst-name {
    line-height: 50px;
    margin-top: -.1px;
    border-radius: 0px 10px 10px 0px;
  }




  /*======================================= Music Box =======================================*/

    main .container .content .main-music-box {
    width: 100%;
    height: 82vh;
    border: 2px solid magenta;
  }
	
  main .container .content .main-music-box .music-box .wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    position: relative;
    border: 0px solid orange;
    border-radius: 0px;
    box-shadow: 0px 6px 15px var(--lightbshadow);
  }

  main .container .content .main-music-box .music-box .wrapper i {
    cursor: pointer;
  }

  main .container .content .main-music-box .music-box .top-bar i {
    font-size: 26px;
    color: white
  }

  main .container .content .main-music-box .music-box .top-bar i:first-child {
    margin-left: 5px;
  }

  main .container .content .main-music-box .music-box .top-bar span {
    color: yellow;
    margin-left: -3px;
    font-size: 15px;
    font-family: solaiman-lipi;
    font-weight: bold;
  }

  main .container .content .main-music-box .music-box .heading {
    font-size: 20px;
  }

  main .container .content .main-music-box .music-box .img-area {
    width: 45vh;
    height: 45vh;
    overflow: hidden;
    margin-top: 10px;
    border-radius: 15px;
  }

  main .container .content .main-music-box .music-box .img-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  main .container .content .main-music-box .music-box .song-details {
    margin: 10px 0;
    line-height: 25px;
  }

  main .container .content .main-music-box .music-box .song-details .name {
    color: white;
    font-size: 20px;
    font-family: 'solaiman-lipi';
    font-weight: bold;
  }

  main .container .content .main-music-box .music-box .song-details .artist {
    color: yellow;
    font-size: 15px;
    font-family: 'solaiman-lipi';
    opacity: 0.9;
  }

  /*=========== progress-area ==========*/
  main .container .content .main-music-box .music-box .progress-area {
    height: 8px;
    width: 100%;
    border-radius: 50px;
    background: #f0f0f0;
    cursor: pointer;
  }

  main .container .content .main-music-box .music-box .progress-area .progress-bar {
    height: 5px;
    position: relative;
    border-radius: inherit;
    background: linear-gradient(90deg, green 0%, red 100%);
    /*cursor: grabbing;*/
    cursor: pointer;
  }

  main .container .content .main-music-box .music-box .progress-bar::before {
    content: "";
    background-color: red;
    height: 10px;
    width: 10px;
    margin-top: -10px;
    border-radius: 0%;
  }

  main .container .content .main-music-box .music-box .progress-area:hover .progress-bar::before {
    opacity: 1;
    pointer-events: auto;
  }

  main .container .content .main-music-box .music-box .progress-area .song-timer {
    margin-top: 5px;
  }

  main .container .content .main-music-box .music-box .song-timer .current-time {
    font-size: 15px;
    color: yellow;
    font-family: times;
    font-weight: bold;
  }

  main .container .content .main-music-box .music-box .song-timer .max-duration {
    font-size: 15px;
    color: white;
    font-family: times;
    font-weight: bold;
  }
    
  main .container .content .main-music-box .music-box .song-timer span {
    font-size: 10px;
    color: var(--lightblack);
  }



  main .container .content .main-music-box .music-box .volume-area {
    margin: 30px 0px;
  }

  main .container .content .main-music-box .music-box .volume-area i {
    font-size: 10px;
  }

  main .container .content .main-music-box .music-box .volume-area input[type="range"] {
      width: 230px;
    }

  main .container .content .main-music-box .music-box .volume-area #display1 {
    font-size: 10px;
  }

  /*========== Control ==========*/
  .controls {
    margin: 5px 0px;
    padding: 2px 5px;
    border: 2px solid yellow;
  }

  .controls #repeat-plist {
    background: blue;
    color: yellow;
    padding: 10px;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    user-select: none;
    border-radius: 50%;
    box-shadow: 0px 0px 5px yellow;
  }
    
  .controls #prev {
    background: green;
    color: white;
    padding: 10px;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    user-select: none;
    border-radius: 50%;
    box-shadow: 0px 0px 5px yellow;
  }

  .controls .play-pause {
    background: linear-gradient(white 0%, white 100%);
    height: 40px;
    width: 40px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 0px 5px var(--pink);
  }

  .play-pause::before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: inherit;
    background-color: red;
  }

  .play-pause i {
    height: 43px;
    width: 43px;
    line-height: 43px;
    text-align: center;
    background: inherit;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
  }

  .controls #next {
    background: green;
    color: white;
    padding: 10px;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    user-select: none;
    border-radius: 50%;
    box-shadow: 0px 0px 5px yellow;
  }
    
  .controls #more-music {
    background: gold;
    color: red;
    padding: 10px;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    user-select: none;
    border-radius: 50%;
    box-shadow: 0px 0px 5px red;
  }

  /*======== Music List Header =======*/
  .music-list {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -55%;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(10px);
    z-index: 5;
    padding: 15px;
    border: 2px solid yellow;
    border-radius: 15px;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.15s ease-out;
  }

  .music-list-header {
    background-color: teal;
  }

  .music-list-header .row span {
    color: white;
    margin-left: 80px;
    font-size: 20px;
    font-family: times;
    font-weight: bold;
    align-items: center;
  }

  .music-list ul {
    margin: 10px 0;
    max-height: 260px;
    overflow: auto;
  }

  .music-list ul::-webkit-scrollbar {
    width: 0px;
  }

  .music-list ul li {
    color: yellow;
    padding-bottom: 0px;
    margin-bottom: 5px;
    list-style: none;
    display: flex;
    cursor: pointer;
    border-bottom: 1px solid yellow;
  }

  .music-list ul li:last-child {
    border-bottom: 0px;
  }

  /*=================== Active Song ==============================*/
  .music-list ul li.playing {
      background-color: green;
      pointer-events: none;
      position: relative;
  }

  .music-list ul li .row span {
    color: white;
    font-size: 17px;
    font-weight: bold;
    text-shadow: 1px 1px 1px green, 0 0 2px blue, 0 0 2px red;
  }

  .music-list ul li .row p {
    color: yellow;
    font-size: 10px;
    opacity: 1;
  }

  .music-list ul li.playing .audio-duration {
    background-color: yellow;
    width: 30px;
	height: 30px;
    color: red;
    margin: 12px 15px 0px 0px;
    border-radius: 50px;
    border: 2px solid blue;
  }




	
  /*======================================= Music Lyrics =======================================*/
  .content-box {
    background-image: url("https://masumbillah6778.github.io/images/a4.jpg");
    background-repeat: no-repeat;
    background-size: over;
    background-size: 100% 500px;
    display: flex;
    flex-direction: column;
    outline: none;
  }
  
  .content-box .content {
  width: 100%;
  max-width: 330px;
  heigh: calc(100% - 80px);
  height: 475px;
  margin: 5px auto;
  padding: 0px;
  border: 2px solid yellow;
}

  .content-box .content .lyrics {
    height: 400px;
  }
  
  .content-box .content .lyrics>div {
    color: teal;
    font-size: 20px;
    line-height: 50px;
  }
  
  .content-box .content .lyrics>div.highlighted {
    color: yellow;
    font-weight: bold;
    font-size: 20px;
  }






    /*============================= Video Player Details =============================*/
    .main-content main .container .content .main-slide-box .video-container-box .video-container {
      max-width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      margin: auto;
      gap: 20px;
    }

    .main-content main .container .content .main-slide-box .video-container-box .video-container .main-video-container {
      border: 4px solid yellow;
    }

    .main-content main .container .content .main-slide-box .video-container-box .video-container .main-video-container .main-video {
      width: 100%;
      height: 280px;
      margin-bottom: 0px;
    }

    .main-content main .container .content .main-slide-box .video-container-box .video-container .video-list-container {
      background-color: transparent;
      width: 100%;
      height: 240px;
      border: 4px solid blue;
    }

    .main-content main .container .content .main-slide-box .video-container-box .video-container .video-list-container .list {
      display: flex;
    }

    .main-content main .container .content .main-slide-box .video-container-box .video-container .video-list-container .list video {
      width: 100px;
      border-right: 4px solid yellow;
      border-bottom: none;
      border-radius: 10px 0px 0px 10px;
    }

    .main-content main .container .content .main-slide-box .video-container-box .video-container .video-list-container .list h3.list-title {
      width: 100%;
      padding: 15px 10px;
      border-radius: 0px 10px 10px 0px;
    }





	/*======================================= Death Anniversary =======================================*/

  .main-content main .container .content .main-slide-box .death-anniversary {
    width: 100%;
    margin: 0px;
    border: 2px solid yellow;
  }
  
  .main-content main .container .content .main-slide-box .death-anniversary .death-box {
    width: 100%;
    height: 100%;
  }

  .main-content main .container .content .main-slide-box .death-anniversary .death-box .death-image {
    width: 250px;
    height: 250px;
  }

  .main-content main .container .content .main-slide-box .death-anniversary .death-box h1 {
    color: white;
    border-radius: 10px;
  }
  
  .main-content main .container .content .main-slide-box .death-anniversary .death-box .death-info {
    color: yellow;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
  }

  .main-content main .container .content .main-slide-box .death-anniversary .death-box #timer {
    font-size: 15px;
    border-radius: 10px;
  }
  
  .main-content main .container .content .main-slide-box .death-anniversary .death-box #timer div {
    min-width: 50px;
  }
  
  .main-content main .container .content .main-slide-box .death-anniversary .death-box #timer div span {
    padding-top: 10px;
    font-size: 15px;
  }






    
  /*======================================== 1st  ========================================*/
  .main-content main .container .content .main-slide-box .first-protected-file-box {
    ackground-image: url('https://masumbillah6778.github.io/images/stone-bg2.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  
  .main-content main .container .content .main-slide-box .first-protected-file-box .first-protected-file {
    width: 280px;
    height: 230px;
    padding: 0px;
    border: 2px solid red;
    border-radius: 10px;
  }

  .main-content main .container .content .main-slide-box .first-protected-file-box .first-protected-file h1 {
    margin-bottom: 10px;
    font-size: 20px;
    border-radius: 10px 10px 0px 0px;
  }

  .main-content main .container .content .main-slide-box .first-protected-file-box .first-protected-file .password-head {
    color: cyan;
    margin-top: -15px;
    font-size: 15px;
  }

  .main-content main .container .content .main-slide-box .first-protected-file-box .first-protected-file form input.text-input {
    color: yellow;
    width: 100%;
    height: 30px;
    margin: 50px 0px 20px 0px;
    padding: 0px 10px;
  }

  .main-content main .container .content .main-slide-box .first-protected-file-box .first-protected-file form .error-text {
    color: red;
    width: 100%;
    height: 30px;
    margin-bottom: -30px;
    padding: 5px;
    font-size: 15px;
  }
    
  .main-content main .container .content .main-slide-box .first-protected-file-box .first-protected-file form label {
    background: white;
    -webkit-background-clip: text;
    color: transparent;
    margin-left: -5px;
    padding: 0px;
    font-size: 15px;
    top: -45px;
    left: 15px;
  }

  .main-content main .container .content .main-slide-box .first-protected-file-box .first-protected-file form input:focus ~ label,
  .main-content main .container .content .main-slide-box .first-protected-file-box .first-protected-file form input:valid ~ label {
    color: white;
    margin-left: 40px;
    font-size: 10px;
    top: 132px;
    left: -15px;
  }
    
  .main-content main .container .content .main-slide-box .first-protected-file-box .first-protected-file form .submit-btn {
    color: yellow;
    width: 90px;
    margin-top: -28px;
    padding: 5px 0px;
    font-size: 15px;
  }

  .main-content main .container .content .main-slide-box .first-protected-file-box .first-protected-file form input:focus ~ .submit-btn,
  .main-content main .container .content .main-slide-box .first-protected-file-box .first-protected-file form input:valid ~ .submit-btn {
    margin-top: -8px;
  }




	
  /*======================================== Footer ========================================*/
  .footer {
    background-color: blue;
    width: 98%;
    height: 40px;
    z-index: -1;
    border: 2px solid white;
  }

  .footer marquee {
    color: white;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: solaiman-lipi;
    cursor: pointer;
  }
}
