/*======================================= Mobile Screen =======================================*

@media only screen and (max-width: 767px) {*/

@media screen and (max-width: 768px) {
  .main-content nav .nav-bar .sidebarOpen {
    display: block;
  }
  
  .main-content nav .nav-bar .menu {
    background-color: purple;
    width: 100%;
    height: 100%;
    padding: 20px;
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 100;
    transition: all 0.4s ease;
  }

  .main-content nav .nav-bar .logo a {
    font-size: 14px;
    color: white;
  }

  .main-content nav.active .menu{
    left: -0%;
  }

  .main-content nav.active .nav-bar .navLogo a {
    opacity: 0;
    transition: all 0.3s ease;
  }

  .main-content nav .nav-bar .menu .logo-toggle {
    background-color: #4070F4;
    width: 100%;
    padding: 10px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px 10px 0px 10px;
  }
	
  .main-content nav .nav-bar .menu .logo-toggle .logo {
	font-size: 40px;
    font-family: 'love-letters';
    letter-spacing: 2px;}
	
  .logo-toggle .siderbarClose{
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
  }

  .main-content nav .nav-bar .nav-links {
    padding-top: 30px;
    display: block;
    flex-direction: column;
  }

  .main-content nav .nav-bar .nav-links li a {
    display: block;
    margin-top: 20px;
  }


  





  /*======================================= Main =======================================*/
  main {
	height: 620px;
    padding: 0px;
	border: 2px solid black;
  }

  main .container {
    width: 100%;
    height: 100%;
    border: 0px solid blue;
  }

	main .container .content .heading {
    font-size: 15px;
    padding: 5px;
    border-bottom: 4px solid black;
  }

  main .container .content {
    border: 0px solid blue;
  }





  /*======================================= Main Slide Box =======================================*/

  main .container .content .main-slide-box {
    margin: 0px;
  }

  main .container .content .main-slide-box .slide-box {
    width: auto;
    height: 585px;
    grid-template-columns: repeat(1, 1fr);
    overflow-y: scroll;
  }

  main .container .content .main-slide-box .slide-box .slide {
    border: ;
  }

  main .container .content .main-slide-box .slide-box .slide .box {
    padding: 0px;
  }
    
  main .container .content .main-slide-box .slide-box .slide .box .cover-image img {
		width: 300px;
    margin: 0 auto;
    display: block;
  }

  main .container .content .main-slide-box .slide-box .slide .box .aritst-name {
    margin-top: 10px;
  }








  /*======================================== Footer ========================================*/
  .footer {
    background-color: blue;
    width: 98%;
    height: 40px;
    border: 2px solid green;
  }

  .footer marquee {
    color: white;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: solaiman-lipi;
    cursor: pointer;
  }
}
