@import url('https://masumbillah6778.github.io/fonts/bangla/bangla-custom-font.css');
@import url('https://masumbillah6778.github.io/fonts/english/english-custom-font.css');

:root {
  --body-color: #E4E9F7;
  --nav-color: #4070F4;
  --side-nav: #010718;
  --text-color: #FFF;
  --search-bar: #F2F2F2;
  --search-text: #010718;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

body {
  background-color: var(--body-color);
  width: 100%;
  height: 100vh;
  border: 4px solid red;
}

body.dark {
  --body-color: #18191A;
  --nav-color: #242526;
  --side-nav: #242526;
  --text-color: #CCC;
  --search-bar: #242526;
}

.main-content {
  width: 100%;
}

.main-content nav {
  background-color: #006400;
  width: 100%;
  height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  -index: 100;
  border: 2px solid red;
}

body.dark .main-content nav {
  background-color: #242526;
}

.main-content nav .nav-bar {
  background-color: green;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

body.dark .main-content nav .nav-bar {
  background-color: red;
}

nav .nav-bar .sidebarOpen {
  color: white;
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}

nav .nav-bar .logo a {
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: 'sonsieone';
  text-decoration: none;
}

.menu .logo-toggle {
  display: none;
}

.nav-bar .nav-links {
  display: flex;
  align-items: center;
}

.nav-bar .nav-links li {
  margin: 0 5px;
  list-style: none;
}

.nav-bar .nav-links li i {
  color: yellow;
  animation: Color 6s linear infinite;
  -webkit-animation: text-animation 4s ease-in-out infinite;
}

@keyframes text-animation {
  0% {
    color: green;
  }
  
  20% {
    color: red;
  }
  
  40% {
    color: yellow;
  }
  
  60% {
    color: blue;
  }
  
  80% {
    color: magenta;
  }
  
  100% {
    color: gold;
  }
}

.nav-links li a {
  color: white;
  font-size: 17px;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  padding: 10px;
}

.nav-links li a.active {
  background-color: red;
}

body.dark .nav-links li a.active {
  background-color: green;
}

.nav-links li a::before {
  content: '';
  background-color: yellow;
  width: 6px;
  height: 6px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s ease;
}

.nav-links li:hover a::before {
  opacity: 1;
}

.nav-bar .darkLight-searchBox {
  display: flex;
  align-items: center;
}

.darkLight-searchBox .dark-light {
  background-color: red;
  width: 50px;
  height: 25px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  transition: all 0.3s ease;
}

body.dark .darkLight-searchBox .dark-light {
  background-color: green;
}

.bx.bx-moon.moon::before {
  color: yellow;
  margin-left: -20px;
}

.bx.bx-sun.sun::before {
  color: white;
  margin-left: 20px;
}

.darkLight-searchBox .searchToggle {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.searchToggle i {
  position: absolute;
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dark-light i {
  position: absolute;
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dark-light i.sun {
  opacity: 0;
  pointer-events: none;
}

.dark-light.active i.sun {
  opacity: 1;
  pointer-events: auto;
}

.dark-light.active i.moon {
  color: #000;
  opacity: 0;
  pointer-events: none;
}

.searchToggle i.cancel {
  opacity: 0;
  pointer-events: none;
}

.searchToggle.active i.cancel {
  opacity: 1;
  pointer-events: auto;
}

.searchToggle.active i.search {
  opacity: 0;
  pointer-events: none;
}

.searchBox {
  position: relative;
}

.searchBox .search-field {
  background-color: blue;
  position: absolute;
  bottom: -85px;
  right: 5px;
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  padding: 3px;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

body.dark .searchBox .search-field {
  background-color: white;
}

.searchToggle.active ~ .search-field {
  bottom: -74px;
  opacity: 1;
  pointer-events: auto;
}

.search-field::before {
  background-color: red;
  content: '';
  position: absolute;
  right: 14px;
  top: -4px;
  height: 12px;
  width: 12px;
  transform: rotate(-45deg);
  z-index: -1;
}

body.dark .search-field::before {
  background-color: green;
}

.search-field input {
  color: var(--search-text);
  background-color: var(--search-bar);
  width: 100%;
  height: 100%;
  padding: 0 45px 0 15px;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  border: none;
  border-radius: 4px;
}

body.dark .search-field input {
  color: var(--text-color);
}

.search-field i {
  position: absolute;
  color: var(--nav-color);
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}

body.dark .search-field i {
  color: var(--text-color);
}










/*======================================= Main =======================================*/
main {
  background-color: hite;
  width: 100%;
  height: 600px;
  padding: 10px;
  border: 2px solid blue;
}

main .container {
  width: 100%;
  height: 100%;
  border: 4px solid blue;
}

main .container .content {
  width: 100%;
  height: 100%;
  border: 4px solid red;
}

main .container .content .heading {
  color: red;
  padding: 10px 0px;
  font-size: 25px;
  font-family: 'sonsieone';
  font-weight: bold;
  text-align: center;
  border-bottom: 4px solid red;
  animation: Color 6s linear infinite;
  -webkit-animation: text-animation 4s ease-in-out infinite;
}

@keyframes text-animation {
  0% {
    color: green;
  }
  
  20% {
    color: red;
  }
  
  40% {
    color: yellow;
  }
  
  60% {
    color: blue;
  }
  
  80% {
    color: magenta;
  }
  
  100% {
    color: gold;
  }
}






/*======================================= Main Slide Box =======================================*/

main .container .content .main-slide-box {
	width: auto;
  height: 500px;
  margin: 0px;
	ox-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
}

main .container .content .main-slide-box .slide-box {
  height: 500px;
	order: 2px solid green;
}

.book-content {
  background-image: radial-gradient(circle farthest-corner at 50% 50%, hsl(187 20% 88%) 30%, hsl(149 20% 94%) 100%);
  color: hsl(180 68% 5%);
  height: 100vh;
  margin: 0;
  display: lex;
  perspective: 1000px;
  overflow: hidden;
  border: 2px solid red;
}

.full-book {
  position: relative;
  display: flex;
  margin: auto;
  width: 400px;
  height: 500px;
  pointer-events: none;
  transform-style: preserve-3d;
  transition: translate 1s;
  translate: calc(min(var(--c), 1) * 50%) 0%;
  rotate: 1 0 0 30deg;
}

.full-book {
  counter-reset: page -1;
  & a {
    color: inherit;
  }
}

.book-page {
  width: 100%;
  --thickness: 4;
  flex: none;
  display: flex;
  pointer-events: all;
  user-select: none;
  transform-style: preserve-3d;
  transform-origin: left center;
  transition:
    transform 1s,
    rotate 1s ease-in calc((min(var(--i), var(--c)) - max(var(--i), var(--c))) * 50ms);
  translate: calc(var(--i) * -100%) 0px 0px;
  transform: translateZ( calc((var(--c) - var(--i) - 0.5) * calc(var(--thickness) * .23cqmin)));
  rotate: 0 1 0 calc(clamp(0, var(--c) - var(--i), 1) * -180deg);
  box-shadow: 0em .5em 1em -.2em #00000020;
}



/*============================== COVER PAGE ==============================*/

.front-side.cover h3,
.back-side.cover h3 {
  background-color: red;
  color: yellow;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  font-family: "Times";
  text-align: center;
}

.front-side.cover p,
.back-side.cover p {
  background-color: gree;
  color: yellow;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Times";
  position: fixed;
  bottom: 0;
}

.back-side.cover p {
  column-count: 2;
}




/*============================== PAGE DETAILS ==============================*/

.front-side,
.back-side {
  position: relative;
  flex: none;
  width: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  /* Fix backface visibility Firefox: */
  translate: 0px;
}

.front-side {
  background-color: red;
}

.back-side {
  background-color: green;
  translate: -100% 0;
  rotate: 0 1 0 180deg;
}
  
.book-page .front-side titel {
  background-color: olive;
  color: gold;
  padding: 10px;
  font-size: 20px;
  font-family: "times";
  font-weight: bold;
  display: block;
}

.book-page .back-side titel {
  background-color: olive;
  color: gold;
  padding: 10px;
  font-size: 20px;
  font-family: "times";
  font-weight: bold;
  display: block;
}

.front-side.cover {
  background: radial-gradient(circle farthest-corner at 80% 20%, hsl(150 80% 20% / .3) 0%, hsl(170 60% 10% / .1) 100%),
    hsl(231, 32%, 29%) url("https://masumbillah6778.github.io/images/music-thumbnail-10.jpg") 50% / cover;
  color: hsl(200 30% 98%);
}

.back-side.cover {
  background: radial-gradient(circle farthest-corner at 80% 20%, hsl(150 80% 20% / .3) 0%, hsl(170 60% 10% / .1) 100%),
    hsl(231, 32%, 29%) url("https://masumbillah6778.github.io/images/music-thumbnail-10.jpg") 50% / cover;
  color: hsl(200 30% 98%);
}










/*============================== PAGE DETAILS ==============================*/

.cover-photo {
  background: url("https://masumbillah6778.github.io/images/bg/love-bg.jpg");
  background-size: cover;
  height: 200px;
  position: relative;
  border-radius: 5px 5px 0 0;
}

.profile {
  background-color: blue;
  width: 150px;
  position: absolute;
  bottom: -50px;
  left: 130px;
  border-radius: 50%;
  border: 2px solid gold;
}

h3.profile-name {
  color: white;
  margin-top: 60px;
  font-size: 35px;
  font-family: solaiman-lipi;
  text-align: center;
}

p.about {
  color: yellow;
  margin-top: 0px;
  font-size: 20px;
  font-family: solaiman-lipi;
  text-align: center;
  line-height: 30px;
}

p.about img {
  width: 20px;
  -webkit-animation-name: spinner;
  animation-name: spinner;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes spinner {
  83.33% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  83.33% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}






/*============================== ICON ==============================*/

.icons {
  background-color: cyan;
  width: 100%;
  margin: 0 auto 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  bottom: 30px;
  position: fixed;
  border-radius: 20px;
  border: 2px solid;
}

.icons i {
  cursor: pointer;
  padding: 5px;
  font-size: 20px;
  transition: 0.2s;
}
  
.icons a:nth-child(1) {
  background-color: ellow;
  color: red;
}
  
.icons a:nth-child(2) {
  background-color: ellow;
  color: green;
}
  
.icons a:nth-child(3) {
  background-color: ellow;
  color: gold;
}
  
.icons a:nth-child(4) {
  background-color: ellow;
  color: blue;
}
  
.icons a:nth-child(5) {
  background-color: ellow;
  color: brown;
}

.icons a:nth-child(6) {
  background-color: ellow;
  color: lime;
}

.icons a:nth-child(7) {
  background-color: ellow;
  color: teal;
}

.icons a:hover {
  color: magenta;
  transform: scale(1.5); 
  transition: 0.3s;
  text-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
}





/*============================== PAGE NUMBR ==============================*/

.front-side.cover::after,
.back-side.cover::after {
  background-color: transparent;
  color: transparent;
}

.front-side::after,
.back-side::after {
  position: absolute;
  counter-increment: page;
  content: counter(page) ".";
  font-size: 20px;
  font-family: "times";
  font-weight: bold;
  font-style: italic;
}

.front-side::after {
  background-color: green;
  color: white;
  padding: 5px;
  right: 0px;
  bottom: 0px;
  border: 1px solid;
  border-radius: 20px 0px 0px 0px;
}

.back-side::after {
  background-color: red;
  color: yellow;
  padding: 5px;
  left: 0px;
  bottom: 0px;
  border: 1px solid;
  border-radius: 0px 20px 0px 0px;
}






/*======================================== Footer ========================================*/
.footer {
  background-color: red;
  width: 100%;
  height: 70px;
  position: fixed;
  left: 0;
  bottom: 0;
  border: 2px solid green;
}

.footer marquee {
  color: white;
  padding: 15px;
  font-size: 30px;
  font-weight: bold;
  font-family: solaiman-lipi;
  cursor: pointer;
}
























/*======================================= Mobile Screen =======================================*

@media only screen and (max-width: 767px) {*/

@media screen and (max-width: 768px) {
  .main-content nav .nav-bar .sidebarOpen {
    display: block;
  }
  
  .main-content nav .nav-bar .menu {
    background-color: purple;
    width: 100%;
    height: 100%;
    padding: 20px;
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 100;
    transition: all 0.4s ease;
  }

  .main-content nav .nav-bar .logo a {
    font-size: 14px;
    color: white;
  }

  .main-content nav.active .menu{
    left: -0%;
  }

  .main-content nav.active .nav-bar .navLogo a {
    opacity: 0;
    transition: all 0.3s ease;
  }

  .main-content nav .nav-bar .menu .logo-toggle {
    background-color: #4070F4;
    width: 100%;
    padding: 10px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px 10px 0px 10px;
  }
	
  .logo-toggle .siderbarClose{
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
  }

  .main-content nav .nav-bar .nav-links {
    padding-top: 30px;
    display: block;
    flex-direction: column;
  }

  .main-content nav .nav-bar .nav-links li a {
    display: block;
    margin-top: 20px;
  }


  





  /*======================================= Main =======================================*/
  main {
	height: 680px;
    padding: 0px;
  }

  main .container {
    width: 100%;
    height: 100%;
    border: 0px solid blue;
  }

	main .container .content .heading {
    font-size: 15px;
    padding: 5px;
    border-bottom: 4px solid black;
  }

  main .container .content {
    border: 0px solid blue;
  }





  /*======================================= Main Slide Box =======================================*/

  main .container .content .main-slide-box {
    margin: 0px;
  }

  main .container .content .main-slide-box .slide-box {
    width: auto;
    height: 640px;
    grid-template-columns: repeat(1, 1fr);
    overflow-y: scroll;
  }
  
  .book-content {
    display: flex;
  }
  
  .full-book {
    background-color: live;
    width: 180px;
    height: 300px;
  }


  /*============================== COVER PAGE ==============================*/
  .front-side.cover h3,
  .back-side.cover h3 {
    background-color: red;
    color: yellow;
    padding: 5px;
    font-size: 15px;
  }
  
  
  /*============================== PAGE DETAILS ==============================*/
  .front-side.cover h3
  .back-side.cover h3 {
    background-color: red;
    color: yellow;
    font-size: 15px;
  }

  .book-page .front-side titel {
    background-color: blue;
  }
  
  .book-page .back-side titel {
    background-color: blue;
  }
  
  .cover-photo {
    height: 80px;
  }
  
  .profile {
    width: 80px;
    bottom: -40px;
    left: 50px;
  }
  
  h3.profile-name {
    font-size: 20px;
    margin-top: 50px;
  }
  
  p.about {
    font-size: 15px;
    line-height: 20px;
  }

  p.about img {
    width: 10px;
  }


  /*============================== ICON ==============================*/

  .icons {
    background-color: black;
    margin: 0px;
    padding: 5px 10px;
  }
  
  .icons i {
    padding: 0px;
    font-size: 10px;
  }
  
  
  
  
  /*============================== PAGE NUMBR ==============================*/
  .front-side::after,
  .back-side::after {
    padding: 5px;
    font-size: 10px;
  }







  /*======================================== Footer ========================================*/
  .footer {
    background-color: blue;
    width: 100%;
    height: 40px;
    border: 2px solid green;
  }

  .footer marquee {
    color: white;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: solaiman-lipi;
    cursor: pointer;
  }
}
